@{
    ViewData["Title"] = "_360Feedback";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
@{
    string UserRoleName = ViewBag.UserRole;
}
<link rel="stylesheet" href="~/css/feedbackCards.css" />
<style>

    /*  #card3,#card5,#card1,#card2,#card4{
            background: linear-gradient(91.1deg, rgb(57, 31, 105) -2.3%, rgb(115, 43, 155) 44.4%, rgb(231, 75, 184) 103.4%);
        }
           .fs-30 mb-6{
               font-size:22px;
           }*/
    
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="UserDashboard" asp-controller="User" style="color:blue">User Dashboard</a></li>
    <li class="breadcrumb-item active">360 Feedback HomePage</li>
</ol>

<br />
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-md-12 grid-margin transparent">
            @*      <div class="row">
            <div class="col-md-6 stretch-card transparent mb-4">
            <div class="card card-tale" style="height:100%" id="card1">
            <div class="card-body">
            <p class="mb-4"></p>
            <p class="fs-30 mb-4"><a asp-controller="SelfFeedback" asp-action="SelfFeedbackHomePage" style="text-decoration:none; color : white">Self Feedback</a></p>
            <p></p>
            </div>
            </div>
            </div>
            @if (UserRoleName == "Administrator")
            {
            <div class="col-md-6  stretch-card transparent">
            <div class="card card-tale" id="card2">
            <div class="card-body">
            <p class="mb-4"></p>
            <p class="fs-30 mb-6"><a asp-controller="" asp-action="" style="text-decoration:none; color : white">Reportee Feedback</a></p>
            <p></p>
            </div>
            </div>
            </div>

            <div class="col-md-12 grid-margin transparent">
            <div class="row">

            <div class="col-md-6  stretch-card transparent">
            <div class="card card-light-danger" id="card3">
            <div class="card-body">
            <p class="mb-4"></p>
            <p class="fs-30 mb-6"><a asp-controller="" asp-action="" style="text-decoration:none; color : white">Reporting Authority Feedback</a></p>
            <p></p>
            </div>
            </div>
            </div>

            </div>
            </div>
            }
            @if (UserRoleName == "Reportee")
            {
            <div class="col-md-6  stretch-card transparent">
            <div class="card card-tale" id="card4">
            <div class="card-body">
            <p class="mb-4"></p>
            <h5 class="fs-28 mb-6"><a asp-controller="AddFeedback" asp-action="GetUserOfRepa" style="text-decoration:none; color : white">Pending Reportee Feedback</a></h5>
            <p></p>
            </div>
            </div>
            </div>
            }
            @if (UserRoleName == "Reviewing Authority")
            {
            <div class="col-md-12 grid-margin transparent">
            <div class="row ">

            <div class="col-md-6  stretch-card transparent">
            <div class="card card-tale" style="height:100%;" id="card5">
            <div class="card-body">
            <p class="mb-4"></p>
            <h5 class="fs-28 mb-6"><a asp-controller="AddFeedback" asp-action="GetUserOfReva" style="text-decoration:none; color : white;">Pending Reviewing Feedback</a></h5>
            <p></p>
            </div>
            </div>
            </div>

            </div>
            </div>
            }
            </div>*@
            <div class="row mb-4">
                <div class="col-6">
                    <div class="card">
                        <div class="img-square-wrapper">
                            <img class="" src="~/images/FeedbackTileImages/selfFeedback.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a asp-controller="SelfFeedback" asp-action="SelfFeedbackHomePage" style="text-decoration:none;">Self Feedback</a></h4>
                        </div>
                    </div>
                </div>
                 @if (UserRoleName == "Administrator" || UserRoleName == "Reportee")
            {
                    <div class="col-6">
                        <div class="card">
                            <div class="img-square-wrapper">
                                <img class="" src="~/images/reporteefeedback.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                               <h4 class="card-title"><a asp-controller="AddFeedback" asp-action="GetUserOfRepa" style="text-decoration:none;">Reportee Feedback</a></h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (UserRoleName == "Administrator" || UserRoleName == "Reviewing Authority")
            {
                <div class="row">
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="img-square-wrapper">
                            <img class="" src="~/images/FeedbackTileImages/reviewingfeedback.jpeg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a asp-controller="AddFeedback" asp-action="GetUserOfReva" style="text-decoration:none;">Reviewing Feedback</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>



