@model Feedback360_Frontend.Models.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>360 Feedback</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/lib/Assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/lib/Assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/Assets/vendors/css/vendor.bundle.base.css">
    <!-- Bootstrap CSS for password eye-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="shortcut icon" href="~/lib/Assets/images/ProjectIcon.PNG" />
    <style>
        .input-group-append {
            margin-left: -1px;
            height: 41px;
        }
    </style>
    @if (TempData["PasswordChangedSuccessfully"] != null)
    {
        <script>
            $(document).ready(function() {
                globalFunctions.showSuccessMessage("Password Changed sucessfully");
            });
        </script>
    }
   
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                <div class="row w-100 mx-0">
                    <div class="col-lg-5 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <h3 style="color : darkblue"><b>360 Feedback</b></h3>
                            </div>
                            <h4>Reset Your Password</h4>
                            <form asp-action="ChangePassword" class="pt-3">
                                <div class="form-group d-flex">
                                    <input asp-for="OldPassword" type="password" class="form-control form-control-lg" id="InputPassword1" placeholder="Enter Old Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="password_show_hide1();">
                                            <i class="fas fa-eye" id="show_eye1"></i>
                                            <i class="fas fa-eye-slash d-none" id="hide_eye1"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="invalid-feedback" style="display:block;">
                                    <span asp-validation-for="OldPassword"></span>
                                    @if (TempData["OldpasswordNotMatchesError"] != null)
                                    {
                                        <script>
                                            $(document).ready(function() {
                                                globalFunctions.showErrorMessage("Please enter correct Current Password");
                                            });
                                        </script>
                                    }
                                </div>
                                <div class="form-group d-flex">
                                    <input asp-for="NewPassword" type="password" class="form-control form-control-lg" id="InputPassword2" placeholder="Enter New Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="password_show_hide2();">
                                            <i class="fas fa-eye" id="show_eye2"></i>
                                            <i class="fas fa-eye-slash d-none" id="hide_eye2"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="invalid-feedback" style="display:block;">
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="form-group d-flex">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" id="InputPassword3" placeholder="Confirm Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="password_show_hide3();">
                                            <i class="fas fa-eye" id="show_eye3"></i>
                                            <i class="fas fa-eye-slash d-none" id="hide_eye3"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="invalid-feedback" style="display:block;">
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="mt-3">
                                    <input type="submit" value="RESET" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" />
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/lib/Assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/Assets/js/off-canvas.js"></script>
    <script src="~/lib/Assets/js/hoverable-collapse.js"></script>
    <script src="~/lib/Assets/js/template.js"></script>
    <script src="~/lib/Assets/js/settings.js"></script>
    <script src="~/lib/Assets/js/todolist.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.js" integrity="sha512-F49kv+wpQXPPk83WZgrqcw/A72douvETfmyZJ1tRELBVhDEm1aXH1FOUDjP0KJzgJKZY+w3RGeOiIBQq3tddqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- endinject -->

    <script>
        function password_show_hide1() {
            var x = document.getElementById("InputPassword1");
            var show_eye = document.getElementById("show_eye1");
            var hide_eye = document.getElementById("hide_eye1");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
        function password_show_hide2() {
            var x = document.getElementById("InputPassword2");
            var show_eye = document.getElementById("show_eye2");
            var hide_eye = document.getElementById("hide_eye2");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
        function password_show_hide3() {
            var x = document.getElementById("InputPassword3");
            var show_eye = document.getElementById("show_eye3");
            var hide_eye = document.getElementById("hide_eye3");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
    </script>
</body>






