@using Microsoft.AspNetCore.Http
@model IEnumerable<Feedback360_Frontend.Models.CarouselVM>
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{
    TempData.Keep("Username");
    TempData.Keep("UserRole");
}
<link rel="stylesheet" href="~/css/MyRoleCardDashboard.css" />
<style>
        .card-people .weather-info {
        position: absolute;
        top: -200px;
        right: auto;
    }

        .blink {
         animation: blinker 1.5s linear infinite;
         color: red;
         font-family: sans-serif;
         font-size:22px;
         font-weight:bold;
         }

</style>

<div class="container-scroller">
    <marquee class="blink">
        @ViewBag.Message
    </marquee>
    <!-- partial:partials/_navbar.html -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Welcome @TempData["Username"]</h3>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="justify-content-end d-flex">
                                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                        
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                            <a class="dropdown-item" href="#">January - March</a>
                                            <a class="dropdown-item" href="#">March - June</a>
                                            <a class="dropdown-item" href="#">June - August</a>
                                            <a class="dropdown-item" href="#">August - November</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Carousel comes here*@
                <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner" style="height:500px">
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active">
                                <img src="~/BannerImages/@item.BannerImageUrl" alt="ad1" class="d-block w-100 " style="height:500px">
                            </div>
                        }

                    </div>
                </div>
                @*Carousel ends here*@
                <div class="row mt-5">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="card" id="myRoleCard">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img id="myRoleImg" src="~/images/FeedbackTileImages/selfFeedback.png" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <h4>My Role</h4>
                                                <h6 class="card-text">@TempData["UserRole"]</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-6 grid-margin transparent">
                    <div class="row">
                        <div class="col-md-6 stretch-card transparent">
                            <div class="card card-tale">
                                <div class="card-body">
                                    <p class="mb-4">My Role Allocation 2022-23</p>
                                    <p class="fs-30 mb-2"><a asp-controller="DepartmentTeam" asp-action="DepartmentTeamHomePage" style="text-decoration:none; color : white">My Role</a></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  stretch-card transparent">
                            <div class="card card-dark-blue">
                                <div class="card-body">
                                    <p class="mb-4">Prerna Microsite</p>
                                    <p class="fs-30 mb-2"></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  mb-lg-0 stretch-card transparent">
                            <div class="card card-light-blue">
                                <div class="card-body">
                                    <p class="mb-4">Training For You</p>
                                    <p class="fs-30 mb-2"></p>
                                    <p>30 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 stretch-card transparent">
                            <div class="card card-light-danger">
                                <div class="card-body">
                                    <p class="mb-4">Apprisal</p>
                                    <p class="fs-30 mb-2"></p>
                                    <p>Demo Amount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                            <div class="card card-dark-blue">
                                <div class="card-body">
                                    <p class="mb-4">360 Feedback</p>
                                    <p class="fs-30 mb-2"><a asp-controller="User" asp-action="_360Feedback" style="text-decoration:none; color : white">Feedback</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<!-- End custom js for this page-->
            </div>




