
#myRoleCard {
    text-align: center;
   
    box-shadow: rgba(36, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#myRoleImg {
    max-width: 100%;
    padding: 10px;
}
