.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#profile_card {
    text-align:center;
    max-width: 600px;
    margin: auto;
    max-height: 240px;
    box-shadow: rgba(36, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
img {
    margin-right: 60px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-right: 20px;
}
