@model Feedback360_Frontend.Models.AdminLoginVM
@{
    ViewData["Title"] = "AdminLogin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>360 Feedback</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/lib/Assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/lib/Assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/Assets/vendors/css/vendor.bundle.base.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap CSS for password eye-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <!-- font awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/lib/Assets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/lib/Assets/images/ProjectIcon.PNG" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <h3 style="color : darkblue"><b>360 Feedback</b></h3>
                            </div>
                            <form asp-action="AdminLogin" class="pt-3">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input required asp-for="Email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email Id">
                                    <div class="invalid-feedback" style="display:block;">
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <div class="form-group d-flex">
                                    <input required asp-for="Password" type="password" class="form-control form-control-lg" id="InputPassword2" placeholder="Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="password_show_hide();">
                                            <i class="fas fa-eye" id="show_eye"></i>
                                            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="invalid-feedback" style="display:block;">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="mt-3">
                                    <input type="submit" value="LOGIN" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" />
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                </div>
                                @if (@TempData["WrongCredentials"] != null)
                                {
                                    <script type="text/javascript">
                                        Swal.fire("Invalid Username or Password", "Please enter valid Username or Password", "error")
                                    </script>
                                }
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/lib/Assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/Assets/js/off-canvas.js"></script>
    <script src="~/lib/Assets/js/hoverable-collapse.js"></script>
    <script src="~/lib/Assets/js/template.js"></script>
    <script src="~/lib/Assets/js/settings.js"></script>
    <script src="~/lib/Assets/js/todolist.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- endinject -->
    <script>
        function password_show_hide() {
        var x = document.getElementById("InputPassword2");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }
    </script>
</body>

</html>



